{% extends 'pages/base.html' %} {% block title %}Home{% endblock title %} {%
block main %}
<div id="current-weather-container" class="content-full-screen">
  <div
    style="
      height: 100%;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    <form action="/current-weather/" method="get">
      <button class="current-weather-btn" type="submit">Random</button>
    </form>

    <form method="post" action="/current-weather/">
      <input type="hidden" name="search" value="MY-LOCATION" />
      <button class="current-weather-btn" type="submit">My weather</button>
    </form>

    <select
      class="form-select current-weather-btn"
      aria-label="Favourite city select"
      id="city-select"
    >
      {% if user.is_authenticated %}
      <option selected disabled>My favourite cities</option>
      {% for city in favCityList %}
      <option value="{{ city.name }}">{{ city.name }}</option>
      {% endfor %} {% else %}
      <option selected disabled>Login to add favourite cities</option>
      {% endif %}
    </select>
  </div>
  <div id="weather-card">
    {%if weatherData.name == "NOT FOUND"%}
    <p>Sorry we couldn't find city you are looking for :(</p>
    {%else%}
    <p>City: {{weatherData["name"]}}</p>
    <p>Coutry: {{weatherData["sys"]["country"]}}</p>
    <p>Temperature: {{weatherData["main"]["temp"]}}</p>
    <p>Description: {{weatherData["weather"][0]["description"]}}</p>
    <p>Humidity: {{weatherData["main"]["humidity"]}}</p>
    <p>Wind speed: {{weatherData["wind"]["speed"]}}</p>
    {%endif%}
  </div>
</div>
{% endblock main %}
