{% extends 'pages/base.html' %} {% block title %}WeatherFrog | Find out current
weather{% endblock title %} {%block main %}
<div id="current-weather-container" class="content-full-screen">
  <div
    id="card-page-buttons"
    style="
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 18px;
    "
  >
    <form action="/current-weather/" method="get" style="width: 50%">
      <button
        class="weather-button submit-button"
        style="padding: 6px 12px; width: 100%"
        type="submit"
      >
        Random
      </button>
    </form>

    <button
      class="weather-button submit-button"
      id="my-weather"
      type="submit"
      style="padding: 6px 12px; width: 50%; text-align: center"
    >
      My weather
    </button>
    <div class="select-wrapper" style="width: 50%; position: relative">
      <select
        class="form-select weather-button submit-button"
        aria-label="Favourite city select"
        id="city-select"
        style="padding: 6px 12px; width: 100%; cursor: pointer"
      >
        <option selected disabled style="text-align: center">
          My favourite cities
        </option>
        {% if user.is_authenticated %} {% for city in favCityList %}
        <option value="{{ city.name }}" style="text-align: center">
          {{ city.name }}
        </option>
        {% endfor %} {% endif %}
      </select>
      <div
        id="arrow-icon"
        style="display: flex; justify-content: center; align-items: center"
      >
        {%include "icons/arrowdown.svg"%}
      </div>
    </div>
  </div>
  <div id="card-page-card" style="height: 100%; width: 50%; position: relative">
    <div
      id="weather-card"
      style="
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 90%;
        width: 75%;
        background: var(--dark-blue);
        background: linear-gradient(
          0deg,
          var(--dark-blue) 0%,
          var(--purple-blue) 100%
        );
        border-radius: 20px;
      "
    >
      {% if weatherData.name == "NOT FOUND" %}
      <p
        style="
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          width: 100%;
          color: var(--purple-pink);
          padding: 32px;
        "
      >
        Sorry we couldn't find the city you are looking for :(
      </p>
      {% else %}
      <div
        id="weather-card-content"
        style="
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          padding: 32px;
          text-align: center;
          width: 100%;
          height: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr;
          justify-items: center;
          align-items: center;
          column-gap: 10px;
          row-gap: 6px;
          grid-template-areas: 'location icon' 'temp icon' 'fltemp description' 'statsname statsvalue' 'sunrise sunset';
          color: var(--purple-pink);
        "
      >
        <div style="grid-area: location; font-size: 2rem">
          <p>{{ weatherData["name"] }} {{ weatherData["sys"]["country"] }}</p>
        </div>

        <div style="grid-area: temp; font-size: 3rem">
          <p>{{ weatherData["main"]["temp"] }}&deg;C</p>
        </div>

        <div
          style="
            grid-area: icon;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          "
        >
          <img style="width: 75%" decoding="async" loading="lazy"
          src="{{url_for('static', filename='svgs/' ~
          weatherData["weather"][0]["icon"] ~ '.svg') }}" alt="Picture
          symbolizing weather outside" />
        </div>

        <div style="grid-area: fltemp">
          <p>Feels like {{ weatherData["main"]["feels_like"] }}&deg;C</p>
        </div>

        <div style="grid-area: description; font-size: 1.5rem">
          <p>{{ weatherData["weather"][0]["description"] }}</p>
        </div>

        <div style="grid-area: statsname">
          <p>Humidity:</p>
          <p>Visibility:</p>
          <p>Wind speed:</p>
          <p>Wind direction:</p>
        </div>

        <div style="grid-area: statsvalue">
          <p>{{ weatherData["main"]["humidity"] }}%</p>
          <p>{{ weatherData["visibility"] }}</p>
          <p>{{ weatherData["wind"]["speed"] }}</p>
          <p>{{ weatherData["wind"]["deg"] }}</p>
        </div>

        <div style="grid-area: sunrise">
          <p>Sunrise:</p>
          <p>{{ weatherData["sys"]["sunrise"] }}</p>
        </div>
        <div style="grid-area: sunset">
          <p>Sunset:</p>
          <p>{{ weatherData["sys"]["sunset"] }}</p>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock main %}
