{% extends 'pages/base.html' %}

{% block title %}
WeatherFrog | Homepage
{% endblock title %}

{% block main %}
<div id="landing-page" class="content-full-screen" style="background-color: var(--dark-blue)">
  <div id="index-container" style="height: 100%; flex: 1.5; padding-left: 10%; padding-top: 4%">
    <div id="index-left">
      <h2 style="color: var(--purple-pink)">Welcome to</h2>
      <h1 style="color: var(--pink)">WeatherFrog</h1>
      <br />
      <h4 style="color: var(--purple-pink); width: 60%">Find out what <u>weather awaits you outside</u> with us just <u>with a few clicks</u></h4>
      <br />
      <h3 style="color: var(--pink)">Want to be informed 24 / 7 ?</h3>
      <h4 style="color: var(--purple-pink)">Get our desktop widget app for <u>FREE</u></h4>
      <br />
      <a class="btn btn-download btn-icon-position" style="position: relative; z-index: 100; border-radius: 40px; font-size: 1.5rem; padding: 12px 48px;" href={{ url_for('pages.download') }} role="button">{%include "icons/download.svg"%}DOWNLOAD APP</a>
    </div>
  </div>
  <div id="index-right" style="flex: 1; position: relative">
    <img style="border-radius: 64% 20% 30% 58% / 36% 31% 61% 57%; position: absolute; height: 23rem; top: 35%; left: 35%; transform: translate(-50%, -50%);" decoding="async" loading="lazy" src="{{url_for('static', filename='images/umbrellasImg.jpg') }}" class="blob-umbrellas" alt="Picture of umbrellas symbolizing weather forecast" />

    <img style="border-radius: 51% 100% 57% 36% / 100% 100% 39% 22%; position: absolute; width: 16rem; top: 75%; left: 0; transform: translate(-50%, -50%);" decoding="async" loading="lazy" src="{{url_for('static', filename='images/snowBus.jpg') }}" class="blob-umbrellas" alt="Picture of bus in a snowy weather" />
  </div>
</div>
{% endblock main %}