{% extends 'pages/base.html' %} {% block title %}Home{% endblock title %} {%
block main %}
<div style="width: 100%; height: 100%; padding-top: 48px">
  <section id="profile-section" style="width: 60%; margin: 0 auto">
    <h2 style="margin: ">My favourite cities</h2>
    <form
      method="POST"
      action="/profile"
      style="
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 12px;
        margin-top: 24px;
      "
    >
      <input
        name="newCity"
        type="newCity"
        class="form-control input"
        id="newCityInput"
        aria-describedby="newCityInput"
        style="flex: 2"
        placeholder="Enter name of a city..."
      />
      <button type="submit" class="btn submit-button">
        Add city to the list
      </button>
    </form>
    <hr />
    {% for city in favCityList %}
    <div
      style="
        width: 100%;
        height: fit-content;
        padding: 24px;
        position: relative;
        background-color: var(--dark-blue);
        border-radius: 20px;
        vertical-align: center;
      "
    >
      <p
        style="
          margin: 0;
          padding: 0;
          color: var(--purple-pink);
          font-size: 1.5rem;
        "
      >
        {{city.name}}
      </p>
      <form
        action="/profile/del-city/{{city.name}}"
        method="post"
        style="
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          right: 5%;
        "
      >
        <input type="hidden" />
        <button
          type="submit"
          id="delete-city-btn"
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
            background-color: var(--purple-pink);
            border: none;
            padding: 6px;
          "
        >
          {%include "icons/x.svg"%}
        </button>
      </form>
    </div>
    <br />
    {% endfor %}
  </section>
</div>

{% endblock main %}
