{% extends 'pages/base.html' %} {% block title %}Weather App | Login{% endblock
title %} {% block main %}
<form
  method="post"
  action="{{ url_for('auth.reset_password') }}"
  class="auth-form"
>
  <h1>Reset your password!</h1>
  <div class="form-group">
    <label for="emailInput">Email address</label>
    <input
      name="email"
      type="email"
      class="form-control input"
      id="emailInput"
      aria-describedby="emailHelp"
      placeholder="Enter email"
    />
  </div>

  {%with messages = get_flashed_messages(with_categories=true)%} {%if messages
  %} {%for category, message in messages%} {% if category == "error"%}
  <div style="position: relative; width: 100%">
    <div
      class="alert alert-danger alert-dismissible fade show"
      role="alert"
      style="position: absolute; width: 100%"
    >
      {{message}}
      <span
        type="button"
        class="close"
        data-bs-dismiss="alert"
        aria-label="Close"
      >
        <span
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
          ><span aria-hidden="true">&times;</span></span
        >
      </span>
    </div>
  </div>
  {%endif%} {%endfor%} {%endif%} {%endwith%}
  <button
    type="submit"
    class="btn submit-button"
    style="width: 100%; margin-top: 64px"
  >
    Submit
  </button>
</form>
{% endblock main %}
